<template>
    <q-card>
        <q-card-section>
            <div class="text-h6">Why me?</div>
        </q-card-section>
        <q-card-section style="max-width: 300px" class="q-pt-none">
            <q-list dense bordered separator class="rounded-borders">
                <q-item v-for="(item, index) in reasons" :key="index">
                    <q-item-section v-text="item" />
                </q-item>
            </q-list>
        </q-card-section>
    </q-card>
    <q-card>
        <q-card-section>
            <div class="text-h6">Portfolio</div>
        </q-card-section>
        <q-card-section class="q-pt-none">done</q-card-section>
        <q-card-section class="q-pt-none">in work</q-card-section>
    </q-card>
    <q-card>
        <q-card-section>
            <div class="text-h6">What's used</div>
        </q-card-section>
        <q-card-section class="q-pt-none"></q-card-section>
    </q-card>
</template>

<script>
export default {
    data() {
        return {
            reasons: ['1st reason', '2nd reason', '3rd reason'],
        }
    },
}
</script>
