<template>
    <q-layout view="hHh lpR fFf">
        <q-header elevated class="bg-primary text-white" height-hint="98">
            <q-toolbar>
                <q-btn dense flat round icon="menu" @click="left = !left" />

                <q-toolbar-title>
                    <q-avatar>
                        <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg" />
                    </q-avatar>
                    Title
                </q-toolbar-title>
            </q-toolbar>

            <q-tabs align="left">
                <q-route-tab to="/" label="Main" />
                <q-route-tab to="/vacations" label="Vacations" />
                <q-route-tab to="/contact" label="Contact with me" />
            </q-tabs>
        </q-header>

        <q-drawer v-model="left" show-if-above side="left" bordered class="q-pa-md">
            <p>Здравствуй посетитель!</p>
            <p>Меня зовут Влад, 94 года рождения - занят разработкой сайтов уже несколько лет.</p>
            <p>Не так давно решил создать что своё, вот ты и тут</p>
            <p>
                Так же я занимаюсь обучением того что я тут такого и как делаю для набора перспективных сотрудников
                <router-link to="/vacations" class="text-bold">подробнее</router-link>
            </p>
            <p>
                Всегда буду рад вашим обрашениям по делу) -
                <router-link to="/contact" class="text-bold">связь со мной</router-link>
            </p>
            <p>А так же в правом верхнем углу есть мои контакты пишите не стесняйтесь по любым вопросам связаным с моей деятельностью.</p>
        </q-drawer>

        <q-page-container>
            <main class="q-pa-md q-gutter-md">
                <router-view />
            </main>
        </q-page-container>

        <q-footer reveal elevated class="bg-grey-8 text-white">
            <q-toolbar>
                <q-toolbar-title> © Dark team 2021 </q-toolbar-title>
            </q-toolbar>
        </q-footer>
    </q-layout>
</template>

<script>
export default {
    data() {
        return {
            left: false,
        }
    },
}
</script>
